<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/footer.css">
  </head>
  <body>
    <div id="footer">
            <div id="contact">
              <div id="contact-head">
                <h2>Contact Me</h2>
              </div>
              <div id="social">
                <ul>
                  <li> <a href="https://github.com/lokeshparmar998">Github</a> </li>
                  <li> <a href="https://www.linkedin.com/in/lokeshparmar-161327147/">Linkedin</a> </li>
                  <li> <a href="https://www.facebook.com/lokesh.rockzz.1">Facebook</a> </li>
                </ul>
              </div>
            </div>
            <div id="footer-content">
               <p> Web App &copy; Lokesh Parmar </p>
            </div>
        </div>
  </body>
</html>
