<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/header.css">
  </head>
  <body>
    <div id="header">
      <div id="Logo">
        <a href="/user/home"> <img src="../assets/images/groupChat.png" alt="Logo"></a>
      </div>

        <div id="heading">
          <h2> <span id="span">NCU</span> Group Chat</h2>
        </div>
    </div>

  </body>
</html>
