<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="../assets/css/home.css">
    <title>HOME</title>
  </head>
  <body>
    <header class="header">
    <nav class="nav">
    <h1> NCU Group Chat</h1>
    <ul>
      <li><a href="/user/signin">Sign In</a></li>
      <li><a href="/user/signup">Sign Up</a></li>
    </ul>
    </nav>
    </header>
  </body>
</html>
