<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="./assets/css/home.css">
    <title>HOME</title>
  </head>
  <body>
    <h1> Welcome abord! </h1>
    <p> you have landed on the right place ! <br>if you have not sign up for some excited topic discussion do sigin in </p>
  </body>
</html>
