<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="./assets/css/home.css">
    <title>HOME</title>
  </head>
  <body>
    <h1> Welcome abord! </h1>
  </body>
</html>
