<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../assets/css/signin.css">
  </head>
  <body>
    <h1>User SignIn</h1>
    <form method="post", action="/user/signin">
        <input type="text" name="username" placeholder="username">
        <p>Username must be  and contain 5 - 12 characters</p>

        <input type="password" name="password" placeholder="password">
        <p>Password must alphanumeric (@, _ and - are also allowed) and be 8 - 20 characters</p>

        <input type="submit" name="submit" placeholder="submit">

    </form>
    <script type="text/javascript" src="../assets/javascript/signinVal.js">

    </script>

  </body>
</html>
